html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    background-color: #CED7D8;
}

pre, ul, li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #316879;
}

.wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1000px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.center-section {
    width: 100%;
    max-width: 530px;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 118px 0;
}   

.navigation-menu__item {
    position: relative;
    margin: 20px 0;
}

.navigation-menu__link {
    transition: all 0.2s linear;
}
.navigation-menu__link::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #5fbdbd;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.navigation-menu__link:hover:after {
    opacity: 1;
}
.navigation-menu__link:hover {
    color: #5fbdbd;
}

/* ==Burger menu========================== */
.burger {
    display: none;
    position: absolute;
    top: 100px;
}
.burger-menu {
    display: flex;
    flex-direction: column;
    background-color: #316879;
    padding: 10px;
    list-style: none;
}
.burger-menu__item {
    margin: 10px;
    font-size: 25px;
    border-bottom: 1px solid #5fbdbd; 
}
.burger-menu__link {
    color: #fff;
}
/* ==Burger menu========================== */

.fa {
    display: none;
    font-size: 55px;
}

.main__caption {
    font-size: 20px;
    font-family: 'Playfair Display';
    font-weight: 700;
    margin: 60px 0 0 0;
    border-bottom: 1px solid #316879;
    color: #316879;
}

.main__content {
    padding: 15px;
}

.title__caption {
    font-size: 43px;
    border-bottom: none;
}

.title__line {
    height: 20px;
    width: 300px;
    background-color: #316879;
}

.title__photo {
    display: none;
}

.about__content {
    text-align: justify;
}

.skills__item {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}
.skills__item::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #316879;
    margin: 0 5px 0 0;
}

.code__description {
    margin: 0 0 20px;
    text-align: justify;
}

.code__example {
    padding: 15px;
    font-size: 16px;
    background-color: #316879;
    color: #fff;
    border-radius: 7px;
}

.codewars-link {
    font-weight: 600;
    transition: all 0.3s linear; 
}
.codewars-link:hover {
    color: #5fbdbd;
}

.education__item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.education__years {
    width: 20%;
}

.education__line_wrapper {
    display: flex;
    justify-content: center;
}

.education__line {
    width: 35px;
    height: 3px;
    margin: 11px 0 0 0;
    background-color: #316879;
}

.education__courses {
    width: 55%;
}

.projects__item {
    display: block;
    height: 320px;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s linear;
}

.projects__title {
    font-weight: 600;
    font-size: 26px;
    color: #fff;
}

.projects__year {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 0 15px;
    margin: 15px 0px;
    border-radius: 20px;
    background-color: #fff;
    color: #316879;
}

.projects__description {
    text-align: justify;
    color: #fff;
}

.projects__calculator {
    background-image: url("../img/Calculator-background.jpg");
}
.projects__calculator:hover {
    background-image: url("../img/Calculator.png"); 
}

.projects__weather-forecast {
    background-image: url("../img/Weather-forecast-background.jpg");
}
.projects__weather-forecast:hover {
    background-image: url("../img/Weather-forecast.png");
}

.side-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    max-width: 420px;
    background-color: #316879;
}

.side-section__photo {
    width: 300px;
    height: 300px;
    margin: 103px 0 20px 0;
    border-radius: 25%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    object-fit: cover;
}

.side-section__contacts {
    list-style: none;
}

.side-section__contacts_item {
    margin: 0 0 10px 0;
    transition: all 0.3s linear;
}

.contacts__link {
    display: flex;
    align-items: center;
    color:#fff;
    transition: all 0.3s linear;
}
.contacts__link:hover {
    color: #5fbdbd;
}

.contacts__icon {
    font-size: 24px;
    margin: 0 10px 0 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #316879;
}

.footer__links {
    display: flex;
    align-items: center;
}

.footer__icon {
    color: #000;
    font-size: 30px;
    margin: 0 12px;
    transition: all 0.3s linear;
}
.footer__icon:hover {
    color: #5fbdbd;
}

.footer__rs-school {
    width: 100px;
    height: auto;
    margin: 0 12px;
}

.footer__author {
    font-size: 14px;
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 900px;
    }
    .center-section {
        max-width: 500px;
    }
    .code__example {
        font-size: 15px;
    }
    .projects__item {
        height: 300px;
    }
    .side-section {
        max-width: 300px;
    }
    .side-section__photo {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 880px) {
    body {
        font-size: 15px;
    }
    .wrapper {
        max-width: 700px;
    }
    .center-section {
        max-width: 425px;
    }
    .navigation-menu {
        margin: 0 0 60px 0;
    }
    .title__caption {
        font-size: 30px;
    }
    .title__line {
        height: 15px; 
        width: 210px;
    }
    .code__example {
        font-size: 12px;
    }
    .projects__item {
        height: 255px;
    }
    .side-section {
        max-width: 250px;
    }
    .side-section__photo {
        margin-top: 110px;
        height: 200px;
        width: 200px;
    }
    .side-section__contacts {
        font-size: 14px;
    }
}

@media (max-width: 745px) {
    body {
        font-size: 18px;
    }
    .wrapper {
        width: 600px;
    }
    .center-section {
        max-width: 100%; 
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title__caption {
        font-size: 40px;
        margin: 0;
    }
    .title__line {
        width: 280px;
    }
    .title__photo {
        display: block;
    }
    .code__example {
        font-size: 16px;
    }
    .projects__item {
        height: 385px;
    }
    .side-section {
        display: none;
        width: 0;
    }
    .side-section__photo {
        margin: 0;
        width: 200px;
        height: 200px;
    }

    /* ====Burger menu==== */
    .header {
        display: flex;
        justify-content: right;
    }
    .navigation {
        display: none;
    }
    .fa {
        display: block;
        margin: 25px 0;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 30px;
    }
    .main__caption {
        font-size: 30px;
    }
    .title {
        display: flex;
        flex-direction: column-reverse;
    }
    .title__caption {
        font-size: 32px;
        margin: 20px 0 0 0;
    }
    .title__line {
        width: 220px;
    }
    .code__example {
        font-size: 18px;
    }
    .footer__icon {
        font-size: 44px;
    }
    .footer__author {
        font-size: 22px;
    }
}

